{% extends "base.html" %} 

{% block title %} 
    {{page}} 
{% endblock title %} 

{% block headline %}
    <b> {{page}} </b>
{% endblock headline %}

{% block content %}
    <div class="container">
        {% comment %} {% for task in all_tasks %}
            {{task.task}} : {{task.is_completed}} <br>
        {% endfor %} {% endcomment %}

        <br>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}            
        {% endif %}
        
        <form class="row g-3" method="POST">
            {% csrf_token %}
            <div class="col-auto">
                  <input type="text" name="task" placeholder="Click to add New Task">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary sb-3">Add Task</button>
            </div>
        </form>

        <table class="table table-bordered table-striped table-hover">
            
                <thead class="table-dark ">
                    <tr class="row">
                    <th class="col-1" scope="col">#</th>
                    <th class="col-6" scope="col">Task</th>
                    <th class="col-3" scope="col">Completion Status</th>
                    <th class="col-1" scope="col">Edit</th>
                    <th class="col-1" scope="col">
                         Delete
                    </th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in all_tasks %}
                        {% if task.is_completed %}
                            <tr class="table-success row">
                                <th class="col-1" scope="row">{{forloop.counter}}</th>
                                <td class="col-6">{{task.id}} | {{task.task}}</td>
                                <td class="col-3"><a href= "{% url "pending_task" task.id %}">
                                    <button type="button" class="btn btn-success">Completed (Change to Pending)</button>    
                                </a></td>
                                <td class="col-1">
                                    <a href="{% url "edit_task" task.id %}">
                                        <a href="{% url "edit_task" task.id %}">
                                            <button type="button" class="btn btn-primary">Edit</button>
                                        </a>
                                    </a>
                                </td>
                                <td class="col-1"><a href = "{% url "delete_task" task.id %}">
                                    <button type="button" class="btn btn-danger">Delete</button>
                                </a></td>
                            </tr>
                        {% else %}
                            <tr class="row">
                                <th class="col-1" scope="row">{{forloop.counter}}</th>
                                <td class="col-6">{{task.id}} | {{task.task}}</td>
                                <td class="col-3"><a href= "{% url "completed_task" task.id %}">
                                    <button type="button" class="btn btn-secondary">Incomplete (Change to Complete) </button>    
                                </a></td>
                                <td class="col-1">
                                    <a href="{% url "edit_task" task.id %}">
                                            <a href="{% url "edit_task" task.id %}">
                                                <button type="button" class="btn btn-primary">Edit</button>
                                            </a>
                                    </a>
                                </td>
                                <td class="col-1"><a href = {% url 'delete_task' task.id %}>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                </a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item"><a class="page-link" href="?page=1"><<</a></li>
                    {% if all_tasks.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ all_tasks.previous_page_number }}">{{ all_tasks.previous_page_number }}</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="?page={{ all_tasks.number }}">{{ all_tasks.number }}</a></li>
                    {% if all_tasks.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ all_tasks.next_page_number }}">{{ all_tasks.next_page_number }}</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="?page={{ all_tasks.paginator.num_pages }}">>></a></li>
                </ul>
                </nav>
    </div>
{% endblock content %}