{% extends "base.html" %} 

{% block title %} 
    {{page}} 
{% endblock title %} 

{% block headline %}
    <b> {{page}} </b>
{% endblock headline %}

{% block content %}
    <div class="container">
        {% comment %} {% for task in all_tasks %}
            {{task.task}} : {{task.is_completed}} <br>
        {% endfor %} {% endcomment %}

        <br>
        
        <div class="alert alert-info" role="alert">
            A simple info alert—check it out!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        
        <form class="row g-3" method="post">
            {% csrf_token %}
            <div class="col-auto">
                  <input type="text" name="task" placeholder="Click to add New Task">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary sb-3">Add Task</button>
            </div>
        </form>

        <table class="table table-bordered table-striped table-hover">
            
                <thead class="table-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col">Status</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete
                         
                    </th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in all_tasks %}
                        {% if task.is_completed %}
                            <tr class="table-success">
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{task.task}}</td>
                                <td>Completed</td>
                                <td>Edit</td>
                                <td>Delete</td>
                            </tr>
                        {% else %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{task.task}}</td>
                                <td>Incomplete</td>
                                <td>Edit</td>
                                <td>Delete</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock content %}